<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("98333834-4f38-4aaa-99cd-d351c46386da");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
