/TransactionKernelDSL.Framework/bin/*
/TransactionKernelDSL.Framework/obj/*
/TransactionKernelDSL.Framework.Parser.Beltran/bin/*
/TransactionKernelDSL.Framework.Parser.Beltran/obj/*
/TransactionKernelDSL.Framework.Parser.Iso8583/bin/*
/TransactionKernelDSL.Framework.Parser.Iso8583/obj/*
/TransactionKernelDSL.Framework.Parser.Iso8583B24/bin/*
/TransactionKernelDSL.Framework.Parser.Iso8583B24/obj/*
/TransactionKernelDSL.Framework.Parser.Meflur/bin/*
/TransactionKernelDSL.Framework.Parser.Meflur/obj/*
/TransactionKernelDSL.Framework.Parser.BPosBrowser/bin/*
/TransactionKernelDSL.Framework.Parser.BPosBrowser/obj/*
/TransactionKernelDSL.Framework.Parser.BPosBrowser.Tests/bin/*
/TransactionKernelDSL.Framework.Parser.BPosBrowser.Tests/obj/*
/TransactionKernelDSL.Framework.Test/bin/*
/TransactionKernelDSL.Framework.Test/obj/*
/TransactionKernelDSL.Framework.UnitTests/bin/*
/TransactionKernelDSL.Framework.UnitTests/obj/*
/TransactionKernelDSL.Language/Debugging/bin/*
/TransactionKernelDSL.Language/Debugging/obj/*
/TransactionKernelDSL.Language/Dsl/bin/*
/TransactionKernelDSL.Language/Dsl/obj/*
/TransactionKernelDSL.Language/DslPackage/bin/*
/TransactionKernelDSL.Language/DslPackage/obj/*