<?xml version="1.0" encoding="utf-8" ?>
<configuration>	
    <configSections>
	    
	</configSections>
	<appSettings>
        <add key="InstanceId" value="1" />

		               <add key="GetValueStoredProcedure" value="Sp_GetValue"/>
        <add key="SequenceFactoryStoredProcedure" value="Sp_SequenceFactory"/>
	</appSettings>    
   <connectionStrings>
	<add name="MainConnection" connectionString="data source=1;integrated security=false;initial catalog=1; User ID=1; pwd=1;"/>
</connectionStrings>
    <system.net>
    <connectionManagement>
      <add address="*" maxconnection="100" />
    </connectionManagement>
    </system.net>
          
</configuration>
