<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Iso8583B24" type="TransactionKernelDSL.Framework.V1.AbstractTransactionParserSection, TransactionKernelDSL.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
	</configSections>
	<Iso8583B24>
    <DefaultRequestFields>
      <!-- Header Fields-->
      <field id="0" keyName="LENGTH" type="BCD" length="2"></field>
      <field id="1" keyName="DataPrefix" type="ASCII" length="9"></field>
      <field id="2" keyName="IMS_CICS_TransactionCode" type="ASCII" length="9"></field>
      <field id="3" keyName="StartSignature" type="ASCII" length="3" DefaultValue="ISO"></field>
      <field id="4" keyName="Base24Header" type="ASCII" length="9"></field>
      <field id="5" keyName="MessageType" type="ASCII" length="4" IsTransactionIdentifier="true"></field>
      <field id="6" keyName="PrimaryBitmap" type="ASCII" length="16" DefaultValue="0000000000000000"></field>
      <!-- Primary Fields-->
      <field id="7" keyName="1" type="ASCII" length="16" DefaultValue="0000000000000000"></field>
      <field id="8" keyName="2" type="ASCII" length="999"></field>
      <field id="9" keyName="3" type="ASCII" length="6"></field>
      <field id="10" keyName="4" type="ASCII" length="12"></field>
      <field id="11" keyName="5" type="ASCII" length="12"></field>
      <field id="12" keyName="6" type="ASCII" length="12"></field>
      <field id="13" keyName="7" type="ASCII" length="10"></field>
      <field id="14" keyName="8" type="ASCII" length="999"></field>
      <field id="15" keyName="9" type="ASCII" length="8"></field>
      <field id="16" keyName="10" type="ASCII" length="8"></field>
      <field id="17" keyName="11" type="ASCII" length="6"></field>
      <field id="18" keyName="12" type="ASCII" length="6"></field>
      <field id="19" keyName="13" type="ASCII" length="4"></field>
      <field id="20" keyName="14" type="ASCII" length="4"></field>
      <field id="21" keyName="15" type="ASCII" length="4"></field>
      <field id="22" keyName="16" type="ASCII" length="999"></field>
      <field id="23" keyName="17" type="ASCII" length="4"></field>
      <field id="24" keyName="18" type="ASCII" length="4"></field>
      <field id="25" keyName="19" type="ASCII" length="999"></field>
      <field id="26" keyName="20" type="ASCII" length="999"></field>
      <field id="27" keyName="21" type="ASCII" length="999"></field>
      <field id="28" keyName="22" type="ASCII" length="3"></field>
      <field id="29" keyName="23" type="ASCII" length="999"></field>
      <field id="30" keyName="24" type="ASCII" length="3"></field>
      <field id="31" keyName="25" type="ASCII" length="2"></field>
      <field id="32" keyName="26" type="ASCII" length="999"></field>
      <field id="33" keyName="27" type="ASCII" length="1"></field>
      <field id="34" keyName="32" type="LLVAR" length="13"></field>
      <field id="35" keyName="33" type="LLVAR" length="13"></field>
      <field id="36" keyName="35" type="LLVAR" length="999"></field>
      <field id="37" keyName="37" type="ASCII" length="12"></field>
      <field id="38" keyName="38" type="ASCII" length="6"></field>
      <field id="39" keyName="39" type="ASCII" length="2"></field>
      <field id="40" keyName="41" type="ASCII" length="16"></field>
      <field id="41" keyName="42" type="ASCII" length="15"></field>
      <field id="42" keyName="43" type="ASCII" length="40"></field>
      <field id="43" keyName="45" type="LLVAR" length="999"></field>
      <field id="44" keyName="48" type="LLLVAR" length="30"></field>
      <field id="45" keyName="49" type="ASCII" length="3"></field>
      <field id="46" keyName="50" type="ASCII" length="3"></field>
      <field id="47" keyName="51" type="ASCII" length="3"></field>
      <field id="48" keyName="52" type="ASCII" length="16"></field>
      <field id="49" keyName="54" type="ASCII" length="15"></field>
      <field id="50" keyName="55" type="LLLVAR" length="999"></field>
      <field id="51" keyName="58" type="LLLVAR" length="999"></field>
      <field id="52" keyName="60" type="LLLVAR" length="999"></field>
      <field id="53" keyName="61" type="LLLVAR" length="999"></field>
      <field id="54" keyName="62" type="ASCII" length="13"></field>
      <field id="55" keyName="63" type="LLLVAR" length="600"></field>
      <field id="56" keyName="64" type="ASCII" length="16"></field>
      <!-- Secondary Fields-->
      <field id="57" keyName="70" type="ASCII" length="3"></field>
      <field id="58" keyName="90" type="ASCII" length="42"></field>
      <field id="59" keyName="95" type="ASCII" length="42"></field>
      <field id="60" keyName="100" type="LLVAR" length="13"></field>
      <field id="61" keyName="102" type="LLVAR" length="28"></field>
      <field id="62" keyName="103" type="LLVAR" length="28"></field>
      <field id="63" keyName="120" type="LLLVAR" length="999"></field>
      <field id="64" keyName="121" type="ASCII" length="23"></field>
      <field id="65" keyName="122" type="ASCII" length="14"></field>
      <field id="66" keyName="123" type="ASCII" length="23"></field>
      <field id="67" keyName="124" type="ASCII" length="12"></field>
      <field id="68" keyName="125" type="ASCII" length="15"></field>
      <field id="69" keyName="126" type="ASCII" length="41"></field>
      <field id="70" keyName="128" type="ASCII" length="16"></field>
    </DefaultRequestFields>
    <DefaultResponseFields>
      <!-- Header Fields-->
      <field id="0" keyName="LENGTH" type="BCD" length="2"></field>
      <field id="1" keyName="DataPrefix" type="ASCII" length="9"></field>
      <field id="2" keyName="IMS_CICS_TransactionCode" type="ASCII" length="9"></field>
      <field id="3" keyName="StartSignature" type="ASCII" length="3" DefaultValue="ISO"></field>
      <field id="4" keyName="Base24Header" type="ASCII" length="9"></field>
      <field id="5" keyName="MessageType" type="ASCII" length="4" IsTransactionIdentifier="true"></field>
      <field id="6" keyName="PrimaryBitmap" type="ASCII" length="16"></field>
      <!-- Primary Fields-->
      <field id="7" keyName="1" type="ASCII" length="16"></field>
      <field id="8" keyName="2" type="ASCII" length="999"></field>
      <field id="9" keyName="3" type="ASCII" length="6"></field>
      <field id="10" keyName="4" type="ASCII" length="12"></field>
      <field id="11" keyName="5" type="ASCII" length="12"></field>
      <field id="12" keyName="6" type="ASCII" length="12"></field>
      <field id="13" keyName="7" type="ASCII" length="10"></field>
      <field id="14" keyName="8" type="ASCII" length="999"></field>
      <field id="15" keyName="9" type="ASCII" length="8"></field>
      <field id="16" keyName="10" type="ASCII" length="8"></field>
      <field id="17" keyName="11" type="ASCII" length="6"></field>
      <field id="18" keyName="12" type="ASCII" length="6"></field>
      <field id="19" keyName="13" type="ASCII" length="4"></field>
      <field id="20" keyName="14" type="ASCII" length="4"></field>
      <field id="21" keyName="15" type="ASCII" length="4"></field>
      <field id="22" keyName="16" type="ASCII" length="999"></field>
      <field id="23" keyName="17" type="ASCII" length="4"></field>
      <field id="24" keyName="18" type="ASCII" length="4"></field>
      <field id="25" keyName="19" type="ASCII" length="999"></field>
      <field id="26" keyName="20" type="ASCII" length="999"></field>
      <field id="27" keyName="21" type="ASCII" length="999"></field>
      <field id="28" keyName="22" type="ASCII" length="3"></field>
      <field id="29" keyName="23" type="ASCII" length="999"></field>
      <field id="30" keyName="24" type="ASCII" length="3"></field>
      <field id="31" keyName="25" type="ASCII" length="2"></field>
      <field id="32" keyName="26" type="ASCII" length="999"></field>
      <field id="33" keyName="27" type="ASCII" length="1"></field>
      <field id="34" keyName="32" type="LLVAR" length="13"></field>
      <field id="35" keyName="33" type="LLVAR" length="13"></field>
      <field id="36" keyName="35" type="LLVAR" length="999"></field>
      <field id="37" keyName="37" type="ASCII" length="12"></field>
      <field id="38" keyName="38" type="ASCII" length="6"></field>
      <field id="39" keyName="39" type="ASCII" length="2"></field>
      <field id="40" keyName="41" type="ASCII" length="16"></field>
      <field id="41" keyName="42" type="ASCII" length="15"></field>
      <field id="42" keyName="43" type="ASCII" length="40"></field>
      <field id="43" keyName="45" type="LLVAR" length="999"></field>
      <field id="44" keyName="48" type="LLLVAR" length="30"></field>
      <field id="45" keyName="49" type="ASCII" length="3"></field>
      <field id="46" keyName="50" type="ASCII" length="3"></field>
      <field id="47" keyName="51" type="ASCII" length="3"></field>
      <field id="48" keyName="52" type="ASCII" length="16"></field>
      <field id="49" keyName="54" type="ASCII" length="15"></field>
      <field id="50" keyName="55" type="LLLVAR" length="999"></field>
      <field id="51" keyName="58" type="LLLVAR" length="999"></field>
      <field id="52" keyName="60" type="LLLVAR" length="999"></field>
      <field id="53" keyName="61" type="LLLVAR" length="999"></field>
      <field id="54" keyName="62" type="ASCII" length="13"></field>
      <field id="55" keyName="63" type="LLLVAR" length="600"></field>
      <field id="56" keyName="64" type="ASCII" length="16"></field>
      <!-- Secondary Fields-->
      <field id="57" keyName="70" type="ASCII" length="3"></field>
      <field id="58" keyName="90" type="ASCII" length="42"></field>
      <field id="59" keyName="95" type="ASCII" length="42"></field>
      <field id="60" keyName="100" type="LLVAR" length="13"></field>
      <field id="61" keyName="102" type="LLVAR" length="28"></field>
      <field id="62" keyName="103" type="LLVAR" length="28"></field>
      <field id="63" keyName="120" type="LLLVAR" length="999"></field>
      <field id="64" keyName="121" type="ASCII" length="23"></field>
      <field id="65" keyName="122" type="ASCII" length="14"></field>
      <field id="66" keyName="123" type="ASCII" length="23"></field>
      <field id="67" keyName="124" type="ASCII" length="12"></field>
      <field id="68" keyName="125" type="ASCII" length="15"></field>
      <field id="69" keyName="126" type="ASCII" length="41"></field>
      <field id="70" keyName="128" type="ASCII" length="16"></field>
    </DefaultResponseFields>
	</Iso8583B24>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
