<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="Iso8583" type="TransactionKernelDSL.Framework.V1.AbstractTransactionParserSection, TransactionKernelDSL.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
	</configSections>
	<Iso8583>
		<DefaultRequestFields>
			<field id="0" keyName="LENGTH" type="BCD" length="2"></field>
			<field id="1" keyName="TPDU" type="BCD" length="5"></field>
			<field id="2" keyName="MSGID" type="BCD" length="2" IsTransactionIdentifier="true"></field>
			<field id="3" keyName="BITMAP" type="BIN" length="8"></field>
			<field id="4" keyName="1" type="BIN" length="8"></field>
			<field id="5" keyName="2" type="LVAR" length="50"></field>
			<field id="6" keyName="3" type="BCD" length="3" IsTransactionIdentifier="true"></field>
			<field id="7" keyName="4" type="BCD" length="6"></field>
			<field id="8" keyName="6" type="BCD" length="6"></field>
			<field id="9" keyName="7" type="BCD" length="5"></field>
			<field id="10" keyName="11" type="BCD" length="3"></field>
			<field id="11" keyName="12" type="BCD" length="3"></field>
			<field id="12" keyName="13" type="BCD" length="2"></field>
			<field id="13" keyName="14" type="BCD" length="2"></field>
			<field id="14" keyName="15" type="BCD" length="2"></field>
			<field id="15" keyName="22" type="BCD" length="2"></field>
			<field id="16" keyName="24" type="BCD" length="2"></field>
			<field id="17" keyName="25" type="BCD" length="1"></field>
			<field id="18" keyName="35" type="LVAR" length="40"></field>
			<field id="19" keyName="37" type="ASCII" length="12"></field>
			<field id="20" keyName="38" type="ASCII" length="6"></field>
			<field id="21" keyName="39" type="ASCII" length="2"></field>
			<field id="22" keyName="41" type="ASCII" length="8"></field>
			<field id="23" keyName="42" type="ASCII" length="15"></field>
			<field id="24" keyName="48" type="LLVAR" length="999"></field>
			<field id="25" keyName="49" type="ASCII" length="3"></field>
			<field id="26" keyName="52" type="ASCII" length="8"></field>
			<field id="27" keyName="54" type="LLVAR" length="999"></field>
			<field id="28" keyName="60" type="LLVAR" length="999"></field>
			<field id="29" keyName="61" type="LLVAR" length="999"></field>
			<field id="30" keyName="62" type="LLVAR" length="999"></field>
			<field id="31" keyName="63" type="LLVAR" length="999"></field>
		</DefaultRequestFields>
		<DefaultResponseFields>
			<field id="0" keyName="LENGTH" type="BCD" length="2"></field>
			<field id="1" keyName="TPDU" type="BCD" length="5"></field>
			<field id="2" keyName="MSGID" type="BCD" length="2" IsTransactionIdentifier="true"></field>
			<field id="3" keyName="BITMAP" type="BIN" length="8"></field>
			<field id="4" keyName="1" type="BIN" length="8"></field>
			<field id="5" keyName="2" type="LVAR" length="50"></field>
			<field id="6" keyName="3" type="BCD" length="3" IsTransactionIdentifier="true"></field>
			<field id="7" keyName="4" type="BCD" length="6"></field>
			<field id="8" keyName="6" type="BCD" length="6"></field>
			<field id="9" keyName="7" type="BCD" length="5"></field>
			<field id="10" keyName="11" type="BCD" length="3"></field>
			<field id="11" keyName="12" type="BCD" length="3"></field>
			<field id="12" keyName="13" type="BCD" length="2"></field>
			<field id="13" keyName="14" type="BCD" length="2"></field>
			<field id="14" keyName="15" type="BCD" length="2"></field>
			<field id="15" keyName="22" type="BCD" length="2"></field>
			<field id="16" keyName="24" type="BCD" length="2"></field>
			<field id="17" keyName="25" type="BCD" length="1"></field>
			<field id="18" keyName="35" type="LVAR" length="40"></field>
			<field id="19" keyName="37" type="ASCII" length="12"></field>
			<field id="20" keyName="38" type="ASCII" length="6"></field>
			<field id="21" keyName="39" type="ASCII" length="2"></field>
			<field id="22" keyName="41" type="ASCII" length="8"></field>
			<field id="23" keyName="42" type="ASCII" length="15"></field>
			<field id="24" keyName="48" type="LLVAR" length="999"></field>
			<field id="25" keyName="49" type="ASCII" length="3"></field>
			<field id="26" keyName="52" type="ASCII" length="8"></field>
			<field id="27" keyName="54" type="LLVAR" length="999"></field>
			<field id="28" keyName="60" type="LLVAR" length="999"></field>
			<field id="29" keyName="61" type="LLVAR" length="999"></field>
			<field id="30" keyName="62" type="LLVAR" length="999"></field>
			<field id="31" keyName="63" type="LLVAR" length="999"></field>
		</DefaultResponseFields>
		<Transactions>
			<Transaction name="CONSULTA DE SALDO" id="0100003003">
				<Request>
					<field id="0" keyName="LENGTH" type="BCD" length="2"></field>
					<field id="1" keyName="TPDU" type="BCD" length="5"></field>
					<field id="2" keyName="MSGID" type="BCD" length="2" IsTransactionIdentifier="true"></field>
					<field id="3" keyName="BITMAP" type="BIN" length="8"></field>
					<field id="6" keyName="3" type="BCD" length="3" IsTransactionIdentifier="true"></field>
					<field id="9" keyName="7" type="BCD" length="5">
						<subfields>
							<subfield id="0" keyName="Dia" type="BCD" descr="Dia[1]" length="1" offset="0"></subfield>
							<subfield id="1" keyName="Mes" type="BCD" descr="Mes[1]" length="1" offset="1"></subfield>
							<subfield id="2" keyName="Año" type="BCD" descr="Año[2]" length="2" offset="2"></subfield>
							<subfield id="3" keyName="Hora" type="BCD" descr="Hora[1]" length="1" offset="4"></subfield>
						</subfields>
					</field>
					<field id="10" keyName="11" type="BCD" length="3"></field>
					<field id="11" keyName="12" type="BCD" length="3"></field>
					<field id="12" keyName="13" type="BCD" length="2"></field>
					<field id="16" keyName="24" type="BCD" length="2"></field>
					<field id="22" keyName="41" type="ASCII" length="8"></field>
					<field id="23" keyName="42" type="ASCII" length="15"></field>
					<field id="24" keyName="48" type="LLVAR" length="999">
						<subfields>
							<subfield id="0" keyName="Distribuidor" type="ASCII" descr="Distribuidor[3]" length="3" offset="2"></subfield>
							<subfield id="1" keyName="Version Trama" type="ASCII" descr="Version Trama[2]" length="2" offset="5"></subfield>
							<subfield id="2" keyName="Codigo de Producto" type="ASCII" descr="Codigo de Producto[2]" length="2" offset="7"></subfield>
							<subfield id="3" keyName="Vacio" type="ASCII" descr="Vacio (00)" length="2" offset="9"></subfield>
						</subfields>
					</field>
					<field id="28" keyName="60" type="LLVAR" length="999"></field>
					<field id="29" keyName="Datos de Terminal" type="LLVAR" length="999">
						<subfields>
							<subfield id="0" keyName="TerminalSerial" type="ASCII" descr="N/S Terminal[16]" length="16" offset="2"></subfield>
							<subfield id="1" keyName="Marca" type="ASCII" descr="Marca[2]" length="2" offset="18"></subfield>
							<subfield id="2" keyName="Tipo" type="ASCII" descr="Tipo[2]" length="2" offset="20"></subfield>
							<subfield id="3" keyName="Version" type="ASCII" descr="Version[5]" length="5" offset="22"></subfield>
						</subfields>
					</field>
				</Request>
			</Transaction>
		</Transactions>
	</Iso8583>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
