<?xml version="1.0"?>
<configuration>
	<configSections>		
		<section name="Meflur" type="TransactionKernelDSL.Framework.V1.AbstractTransactionParserSection, TransactionKernelDSL.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
	</configSections>
	<Meflur>
		<DefaultRequestFields>
			<field id="0" keyName="Tipo" type="ASCII" length="1" IsRequired="true" descr="Tipo de Trama"></field>
			<field id="1" keyName="Version" type="ASCII" length="2" IsRequired="true" descr="Versión de la Trama"></field>
			<field id="2" keyName="Fecha" type="ASCII" length="8" IsRequired="true" descr="Fecha de la transaccion"></field>
			<field id="3" keyName="Hora" type="ASCII" length="9" IsRequired="true" descr="Hora de la transaccion"></field>
			<field id="4" keyName="Comercio" type="ASCII" length="8" IsRequired="true" descr="Comercio"></field>
			<field id="5" keyName="Terminal" type="ASCII" length="8" IsRequired="true" descr="Terminal"></field>
			<field id="6" keyName="Transaccion" type="ASCII" length="1" IsRequired="true" descr="Codigo de Operación" IsTransactionIdentifier="true"></field>
			<field id="7" keyName="ResultadoAnterior" type="ASCII" length="1" IsRequired="true" descr="Resultado de la última operación"></field>
			<field id="8" keyName="0" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="9" keyName="1" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="10" keyName="2" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="11" keyName="3" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="12" keyName="4" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="13" keyName="5" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="14" keyName="6" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="15" keyName="7" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="16" keyName="8" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="17" keyName="9" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="18" keyName="10" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="19" keyName="11" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="20" keyName="12" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="21" keyName="13" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="22" keyName="14" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="23" keyName="15" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="24" keyName="16" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="25" keyName="17" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="26" keyName="18" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="27" keyName="19" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="28" keyName="20" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="29" keyName="21" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="30" keyName="22" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="31" keyName="23" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="32" keyName="24" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="33" keyName="25" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="34" keyName="26" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="35" keyName="27" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="36" keyName="28" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="37" keyName="29" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="38" keyName="30" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="39" keyName="31" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
		</DefaultRequestFields>
		<DefaultResponseFields>
			<field id="0" keyName="Transaccion" type="ASCII" length="1" IsRequired="true" IsTransactionIdentifier="true" descr="Codigo de Operación"></field>
			<field id="1" keyName="0" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="2" keyName="1" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="3" keyName="2" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="4" keyName="3" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="5" keyName="4" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="6" keyName="5" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="7" keyName="6" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="8" keyName="7" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="9" keyName="8" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="10" keyName="9" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="11" keyName="10" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="12" keyName="11" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="13" keyName="12" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="14" keyName="13" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="15" keyName="14" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="16" keyName="15" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="17" keyName="16" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="18" keyName="17" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="19" keyName="18" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="20" keyName="19" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="21" keyName="20" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="22" keyName="21" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="23" keyName="22" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="24" keyName="23" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="25" keyName="24" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="26" keyName="25" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="27" keyName="26" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="28" keyName="27" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="29" keyName="28" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="30" keyName="29" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="31" keyName="30" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
			<field id="32" keyName="31" type="ASCII" length="255" descr="Campo Dinámico de Uso General"></field>
		</DefaultResponseFields>
		<Transactions>
			<Transaction name="CONSULTA DE SALDO" id="S">
				<Request>
					<field id="2" keyName="Fecha" type="ASCII" length="8" IsRequired="true" descr="Fecha de la transaccion">
						<subfields>
							<subfield id="0" keyName="Año" type="ASCII" descr="Año[4]" length="4" offset="0"></subfield>
							<subfield id="1" keyName="Mes" type="ASCII" descr="Mes[2]" length="2" offset="4"></subfield>
							<subfield id="2" keyName="Dia" type="ASCII" descr="Dia[2]" length="2" offset="6"></subfield>
						</subfields>
					</field>
					<field id="3" keyName="Hora" type="ASCII" length="9" IsRequired="true" descr="Hora de la transaccion">
						<subfields>
							<subfield id="0" keyName="Hora" type="ASCII" descr="Hora[2]" length="2" offset="0"></subfield>
							<subfield id="1" keyName="Minuto" type="ASCII" descr="Minuto[2]" length="2" offset="2"></subfield>
							<subfield id="2" keyName="Segundo" type="ASCII" descr="Segundo[2]" length="2" offset="4"></subfield>
							<subfield id="3" keyName="Milisegundo" type="ASCII" descr="Milisegundo[3]" length="3" offset="6"></subfield>
						</subfields>
					</field>
					<field id="8" keyName="MAC" type="ASCII" length="8"></field>
				</Request>
				<Response>
					<field id="1" keyName="Saldo" type="ASCII" length="10" descr="Codigo de Operacion / SALDO disponible del operador"></field>
					<field id="2" keyName="Vacio" type="ASCII" length="0" descr="Vacio"></field>
					<field id="3" keyName="MAC" type="ASCII" length="9" descr="MAC"></field>
				</Response>
			</Transaction>
		</Transactions>
	</Meflur>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
