<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Beltran" type="TransactionKernelDSL.Framework.V1.AbstractTransactionParserSection, TransactionKernelDSL.Framework, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" allowDefinition="Everywhere" allowExeDefinition="MachineToApplication" restartOnExternalChanges="true"/>
  </configSections>
  <Beltran>
    <DefaultRequestFields>
      <field id="0" keyName="0" type="ASCII" length="7" IsRequired="true" IsTransactionIdentifier="true" descr="Tipo mensaje"></field>
      <field id="1" keyName="1" type="ASCII" length="6" IsRequired="true" IsTransactionIdentifier="true" descr="Tipo procedimiento"></field>
      <field id="2" keyName="2" type="ASCII" length="8" descr="Comercio id"></field>
      <field id="3" keyName="3" type="ASCII" length="8" descr="Terminal id"></field>
      <field id="4" keyName="4" type="ASCII" length="4" descr="Clave venta"></field>
      <field id="5" keyName="5" type="ASCII" length="4" descr="Transaccion id"></field>
      <field id="6" keyName="6" type="ASCII" length="14" descr="Dia y Hora"></field>
      <field id="7" keyName="7" type="ASCII" length="255" descr="Campor variable Nro 1"></field>
      <field id="8" keyName="8" type="ASCII" length="255" descr="Campor variable Nro 2"></field>
      <field id="9" keyName="9" type="ASCII" length="255" descr="Campor variable Nro 3"></field>
      <field id="10" keyName="10" type="ASCII" length="255" descr="Campor variable Nro 4"></field>
      <field id="11" keyName="11" type="ASCII" length="255" descr="Campor variable Nro 5"></field>
      <field id="12" keyName="12" type="ASCII" length="255" descr="Campor variable Nro 6"></field>
      <field id="13" keyName="13" type="ASCII" length="255" descr="Campor variable Nro 7"></field>
      <field id="14" keyName="14" type="ASCII" length="255" descr="Campor variable Nro 8"></field>
      <field id="15" keyName="15" type="ASCII" length="255" descr="Campor variable Nro 9"></field>
      <field id="16" keyName="16" type="ASCII" length="255" descr="Campor variable Nro 10"></field>
      <field id="17" keyName="17" type="ASCII" length="255" descr="Campor variable Nro 11"></field>
      <field id="18" keyName="18" type="ASCII" length="255" descr="Campor variable Nro 12"></field>
      <field id="19" keyName="19" type="ASCII" length="255" descr="Campor variable Nro 13"></field>
      <field id="20" keyName="20" type="ASCII" length="255" descr="Campor variable Nro 14"></field>
      <field id="21" keyName="21" type="ASCII" length="255" descr="Campor variable Nro 15"></field>
      <field id="22" keyName="22" type="ASCII" length="255" descr="Campor variable Nro 16"></field>
      <field id="23" keyName="23" type="ASCII" length="255" descr="Campor variable Nro 17"></field>
      <field id="24" keyName="24" type="ASCII" length="255" descr="Campor variable Nro 18"></field>
      <field id="25" keyName="25" type="ASCII" length="255" descr="Campor variable Nro 19"></field>
    </DefaultRequestFields>
    <DefaultResponseFields>
      <field id="0" keyName="0" type="ASCII" length="7" IsRequired="true" IsTransactionIdentifier="true" descr="Tipo mensaje"></field>
      <field id="1" keyName="1" type="ASCII" length="6" IsRequired="true" IsTransactionIdentifier="true" descr="Tipo procedimiento"></field>
      <field id="2" keyName="2" type="ASCII" length="8" descr="Comercio id"></field>
      <field id="3" keyName="3" type="ASCII" length="8" descr="Terminal id"></field>
      <field id="4" keyName="4" type="ASCII" length="4" descr="Clave venta"></field>
      <field id="5" keyName="5" type="ASCII" length="4" descr="Transaccion id"></field>
      <field id="6" keyName="6" type="ASCII" length="14" descr="Dia y Hora"></field>
      <field id="7" keyName="7" type="ASCII" length="255" descr="Campor variable Nro 1"></field>
      <field id="8" keyName="8" type="ASCII" length="255" descr="Campor variable Nro 2"></field>
      <field id="9" keyName="9" type="ASCII" length="255" descr="Campor variable Nro 3"></field>
      <field id="10" keyName="10" type="ASCII" length="255" descr="Campor variable Nro 4"></field>
      <field id="11" keyName="11" type="ASCII" length="255" descr="Campor variable Nro 5"></field>
      <field id="12" keyName="12" type="ASCII" length="255" descr="Campor variable Nro 6"></field>
      <field id="13" keyName="13" type="ASCII" length="255" descr="Campor variable Nro 7"></field>
      <field id="14" keyName="14" type="ASCII" length="255" descr="Campor variable Nro 8"></field>
      <field id="15" keyName="15" type="ASCII" length="255" descr="Campor variable Nro 9"></field>
      <field id="16" keyName="16" type="ASCII" length="255" descr="Campor variable Nro 10"></field>
      <field id="17" keyName="17" type="ASCII" length="255" descr="Campor variable Nro 11"></field>
      <field id="18" keyName="18" type="ASCII" length="255" descr="Campor variable Nro 12"></field>
      <field id="19" keyName="19" type="ASCII" length="255" descr="Campor variable Nro 13"></field>
      <field id="20" keyName="20" type="ASCII" length="255" descr="Campor variable Nro 14"></field>
      <field id="21" keyName="21" type="ASCII" length="255" descr="Campor variable Nro 15"></field>
      <field id="22" keyName="22" type="ASCII" length="255" descr="Campor variable Nro 16"></field>
      <field id="23" keyName="23" type="ASCII" length="255" descr="Campor variable Nro 17"></field>
      <field id="24" keyName="24" type="ASCII" length="255" descr="Campor variable Nro 18"></field>
      <field id="25" keyName="25" type="ASCII" length="255" descr="Campor variable Nro 19"></field>
    </DefaultResponseFields>
    <Transactions>
      <!--<Transaction name="REQUEST BELTRAN" id="S">
        <Request>
          <field id="0" keyName="TipoMensaje" type="ASCII" length="20" IsRequired="true" IsTransactionIdentifier="true" descr="Tipo Mensaje"></field>
          <field id="1" keyName="TipoProcesamiento" type="ASCII" length="7" IsRequired="true" IsTransactionIdentifier="true" descr="Tipo Procesamiento"></field>
          <field id="2" keyName="ComercioId" type="ASCII" length="8" descr="Comercio Id"></field>
          <field id="3" keyName="TerminalId" type="ASCII" length="8" descr="Terminal Id"></field>
          <field id="4" keyName="ClaveVenta" type="ASCII" length="4" descr="Clave de Venta"></field>
          <field id="5" keyName="TransaccionId" type="ASCII" length="4" descr="Transaccion Id"></field>
          <field id="6" keyName="DayHour" type="ASCII" length="14" descr="Day and Hour"></field>
          <field id="7" keyName="CodigoOpRec" type="ASCII" length="2" descr="Codigo de Operador de Recarga"></field>
          <field id="8" keyName="NroTel" type="ASCII" length="10" descr="Numero de telefono"></field>
          <field id="9" keyName="Monto" type="ASCII" length="6" descr="Monto"></field>
        </Request>
      </Transaction>-->
    </Transactions>
  </Beltran>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
